@media (max-width: 1433px) {
    .home-text h3.desaFront {
        font-size: 2.5rem;
    }

    .home-text h3.desaFront span {
        font-size: 2.8rem;
    }
}

/*Portatil*/

@media (max-width: 1366px) {

    #header {
        height: 60px;
    }

    #header .menu ul a {
        font-size: 16px;
    }

    #header .logo {
        width: 50px;
    }


    .home .home-img img {
        height: 415px;
    }

    .home-text h1 {
        font-size: 4.5rem;
    }

    /*About*/
    .about-img img {
        max-width: 380px;
    }

    .about-text h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

    .about-text p {
        margin-bottom: 2rem;
    }
}

/*Fin Portatil*/

@media (max-width: 1254px) {
    .button a {
        font-size: 1rem;
        margin-right: 25px;
        padding: 8px 30px;
        margin-bottom: 10px;
    }

    .button .btn2 {
        padding: 6px 30px;
    }

    .home-text p {
        font-size: 1rem;
    }
}

@media (max-width: 1217px) {

    .home-text h1 {
        font-size: 3.5rem;
        margin: 5px 0 10px;
    }

    .home-text h3 {
        font-size: 2.5rem;
    }

    .home-text h3.desaFront {
        font-size: 2rem;
    }

    .home-text h3.desaFront span {
        font-size: 2.3rem;
    }

    .home-text p {
        font-size: 0.9rem;
        margin-bottom: 25px;
    }

    .social a {
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin-right: 22px;
        margin-bottom: 28px;
    }

    .home .home-img img {
        height: 400px;
    }

    /*About*/
    .about-text p {
        font-size: 1rem;
    }
}

@media (max-width: 1137px) {

    #header {
        padding: 0 6%;
    }

    section {
        padding: 80px 6%;
    }

    /*About*/
    .about-img img {
        max-width: 370px;
    }
}

@media (max-width: 1034px) {

    #header {
        padding: 0 5%;
    }

    section {
        padding: 80px 5%;
    }

    .home .home-img img {
        height: 380px;
    }

    /*About*/
    .about-text h2 {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    #header {
        height: 60px;
    }

    #header .menu ul a {
        font-size: 16px;
    }

    #header .logo {
        width: 45px;
    }

    /*Home*/


    .home {
        gap: 2rem;
    }

    .home .home-img img {
        height: 360px;
    }

    .home-text h3 {
        font-size: 2rem;
    }

    .home-text h1 {
        font-size: 3.125rem;
    }

    .home-text h3.desaFront {
        font-size: 1.9rem;
        margin-bottom: 15px;
    }

    .home-text h3.desaFront span {
        font-size: 2rem;
    }

    .button a {
        font-size: 1rem;
        margin-right: 20px;
        padding: 8px 25px;
    }

    .button .btn2 {
        padding: 6px 25px;
    }

    /*About*/
    .about-img img {
        max-width: 360px;
    }


    .about-text .btn {
        font-size: 1rem;
        padding: 8px 25px;
    }
}



@media (max-width: 892px) {
    .home {
        grid-template-columns: 1fr auto;
        gap: 1rem;
    }

    .home .home-img img {
        height: 350px;
    }

    .button .btn2 {
        margin-right: 5px;
    }

    /*About*/
    .about-img img {
        max-width: 353px;
    }

    .about-text p {
        font-size: 0.9rem;
    }
}


@media (max-width: 845px) {
    .home .home-img img {
        height: 340px;
    }

    /*About*/
    .about-text h2 {
        margin-bottom: 20px;
    }

    .about-text p {
        margin-bottom: 1rem;
    }
}

@media (max-width: 833px) {
    .home .home-img img {
        height: 330px;
    }

    .home-text h3 {
        font-size: 1.5rem;
    }

    .home-text h1 {
        font-size: 2.3rem;
    }

    .home-text h3.desaFront {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .home-text h3.desaFront span {
        font-size: 1.6rem;
    }

    .button a {
        font-size: 0.9rem;
        margin-right: 15px;
        padding: 8px 20px;
    }

    .button .btn2 {
        padding: 6px 20px;
    }

    /*About*/
    .about-text h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .about-img img {
        max-width: 342px;
    }

    .about-text .btn {
        font-size: 0.9rem;
        padding: 8px 20px;
    }
}

@media (max-width: 768px) {
    .home .home-img img {
        height: 300px;
    }

    #header {
        padding: 0 4%;
    }

    section {
        padding: 80px 4%;
    }

    .home-text h3 {
        font-size: 1.4rem;
    }

    .home-text h1 {
        font-size: 2.2rem;
    }

    .home-text h3.desaFront {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .home-text h3.desaFront span {
        font-size: 1.5rem;
    }

    .button a {
        font-size: .8rem;
        margin-right: 15px;
        padding: 6px 20px;
    }

    .button .btn2 {
        padding: 4px 20px;
    }



    /*About*/

    .about {
        grid-template-columns: auto 1fr;
        gap: 1rem;
    }

    .about-text h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .about-img img {
        max-width: 300px;
    }

    .about-text .btn {
        font-size: 0.9rem;
        padding: 6px 20px;
    }
}

@media (max-width: 695px) {
    #header .menu {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        height: auto;
        flex-direction: column;
        background: #1f2023;
        text-align: right;
        transition: all .40s;
    }


    #header .menu ul {
        flex-direction: column;
    }


    #header .menu ul a {
        display: block;
        padding: 1.2rem;
        margin: 1.3rem;
        border-right: 2px solid #ff4d05;
        font-size: 20px;
        transition: all .45s ease;
        color: white;
    }

   #header .menu ul a.active:hover {
        color: #ff4d05;
    } 
   

    #header .menu ul a.active {
        color: white;
    }

    #header .menu.open {
        top: 100%;
    }

    #header #menu-icon {
        display: block;
    }

    .home {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .home .home-img img {
        height: 360px;
    }

    #header {
        padding: 0 10%;
    }

    section {
        padding: 80px 10%;
    }

    /*About*/
    .about {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-img {
        order: 2;
    }
}

@media (max-width: 505px) {
    .home {
        background-image: none;
    }

    .home .home-img img {
        height: 285px;
    }

    #header {
        padding: 0 8%;
    }

    section {
        padding: 80px 8%;
    }

    /*About*/
    .about-img img {
        max-width: 280px;
    }
}


@media (max-width: 400px) {

    #header {
        padding: 0 6%;
    }

    #header .menu ul a {
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-right: 2px solid #ff4d05;
        font-size: 18px;
        transition: all .45s ease;
        color: white;
    }

    section {
        padding: 50px 6%;
    }


    .home {
        padding-top: 80px;
    }

    /*Projects*/
    .portfolio-text h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .portfolio-text p {
        font-size: 0.9rem;
    }

    .cards {
        grid-template-columns: auto;
    }

    .card {
        width: 100%;
    }

    .card-img img {
        width: 100%;
    }

    .card-body {
        padding: 0;
    }

    .card-body h4 {
        font-size: 1rem;
        margin: 0px 0 10px 0;
    }

    .card-body p {
        font-size: 0.85rem;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .card .btn {
        font-size: 0.9rem;
        padding: 6px 20px;
    }

    /*Habilidades*/
    .skills-text h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }


    .contenedor h3 {
        font-size: 1.1rem;
    }

    .contenido {
        grid-template-columns: initial;
    }

    .info-skills {
        font-size: 0.9rem;
    }

    .info-skills p {
        font-size: 0.8rem;
    }

    .contenido2 .info-skills .icon,
    .info-skills .icon {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenido2 {
        grid-template-columns: initial;
    }

    .info-skills .izq {
        padding-right: 0px;
    }

    /*Contact*/
    .contact h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .card_title {
        font-size: 1rem;
    }

    .contact_container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        padding-bottom: 3rem;
    }

    .contact_title {
        font-size: 1.1rem;
        margin: 20px 0;
    }

    .contact_info {
        justify-content: center;
    }

    .contact_form {
        margin: 0 auto;
        width: 100%;
    }

    .contact_form_tag {
        font-size: 0.95rem;
        top: -0.95rem;
    }

    .btn_form {
        font-size: 0.9rem;
        padding: 6px 20px;
        align-items: center;
        display: flex;
    }

    .enviarIcon {
        margin-left: 5px;
    }
}

@media (max-width: 380px) {}

@media (max-width: 350px) {}